body {
    background-image: url();
}

* {
    margin: 0;
    padding: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .5s;
}

a:hover {
    color: rgb(0, 255, 213);
}

.logo {
	overflow:hidden;
	margin: .7%;
	width: 50vw;
	font-weight: 600;
	line-height: 0.8;
	font-size: 30px;
	text-align: left;
	font-size: 2rem;
	color: #ffffff;
	font-family: 'Georgia';
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ff4545;
    height: 10vh;
}

.redes-sociais {
    font-size: 18px;
    list-style: none;
    display: flex;
}

.redes-sociais li {
    letter-spacing: 1px;
    margin-left: 20px;
}

container-principal{
    display: flex;
    align-items: center;
    align-content: center;
}

/* Container */

.container {
    margin-top: 6%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.container h1 {
    margin: 2%;
    font-size: 35px;
}

.container span {
    color: #ff4545;
}

.container p {
    font-size: 25px;
    margin-left: 2%
}

.contrate button {
    width: 200px;
    border-radius: 25px;
    font-weight: bolder;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
}

.contrate button a {
    color: #ff4545;
    animation: 0.5s;
}

.contrate button:hover a {
    color: rgb(0, 0, 0);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.form .cont {
    display: flex;
    flex-direction: column;
}

.form .apresent h1{
    font-size: 40px;
    margin-bottom: 2%;
}

.form .apresent p {
    font-size: 20px;
}

.form .cont {
    margin-top: 2%;
    font-size: 17px;
}

.form .cont label{
    text-align: center;
}

.form .cont input{
    width: 500px;
    height: 25px;
    margin: 2%;
}

.form .contato {
    display: flex;
    flex-direction: column;
}

.form .contato label, textarea {
    font-size: 17px;
    margin: 2%;
}

.form .contato {
    display: flex;
    text-align: center;
}

.form .button-form button {
    margin: 2%;
    width: 500px;
    height: 25px;
    background-color: #ff4545;
    color: white;
    transition: .4s;
}

.form .button-form button:hover {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.466);
}

.container-fim {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.container-fim h1{
    font-size: 50px;
}

.container-fim p {
    font-size: 30px;
}
